name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Build APK with Bubblewrap
        run: |
          yes | bubblewrap init --manifest=https://vmamatov76-code.github.io/G-ani-G-ildiragi/manifest.json
          bubblewrap build --skipSigning
          mkdir build-artifacts
          cp *.apk build-artifacts/

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Mikrobiologiya-Gildiragi-APK
          path: build-artifacts/*.apk

